__pycache__
*.egg-info
data/*
.vscode
bin/
experiments/
experiments_openmp/
tmp.py
run.sh
swap-pane
analysis/bc
analysis/bfs
analysis/cc
analysis/cc_sv
analysis/pr
analysis/sssp
analysis/tc
analysis/openmp
utils/normal_random.txt
utils/uniform_random.txt

.ccls-cache
*.out
*.png
*.txt
